<div class="panel">
	<div class="panel-heading">
		<div class="level">
			<div class="level-left">Blast Gates</div>
			<div class="level-right">
				<div class="field is-grouped">
					<div class="control">
						<button class="button" (click)="openAllBlastGates()">
							Open All
						</button>
					</div>
					<div class="control">
						<button class="button" (click)="closeAllBlastGates()">
							Close All
						</button>
					</div>
					<p class="control">
						<button
							class="button"
							[ngClass]="{
								'is-success': !create,
								'is-danger': create
							}"
							(click)="toggleCreate()"
						>
							<span class="icon is-small">
								<i class="fas fa-plus" *ngIf="!create"></i>
								<i class="fas fa-ban" *ngIf="create"></i>
							</span>
						</button>
					</p>
				</div>
			</div>
		</div>
	</div>
	<app-blast-gate
		class="panel-block has-background-white"
		*ngFor="let blastGate of blastGates; trackBy: trackByBlastGatesId"
		[blastGate]="blastGate"
		(updateBlastGate)="updateBlastGate($event)"
		(deleteBlastGate)="deleteBlastGate($event)"
		(activateBlastGate)="activateBlastGate($event)"
	></app-blast-gate>
	<form
		class="panel-block has-background-white"
		*ngIf="create"
		(ngSubmit)="createBlastGate()"
	>
		<div class="level">
			<div class="level-left">
				<input
					id="create-blast-gate-switch"
					class="switch"
					type="checkbox"
					name="is-open"
					[(ngModel)]="createModel.blastGateInput.isOpen"
				/>
				<label for="create-blast-gate-switch">&nbsp;</label>
				<div class="field has-addons">
					<div class="control">
						<input
							class="input"
							type="text"
							name="name"
							[(ngModel)]="createModel.blastGateInput.name"
						/>
					</div>
					<div class="control">
						<button class="button is-success" type="submit">
							Create
						</button>
					</div>
				</div>
			</div>
			<div class="level-right">
				<button class="button is-warning" type="button" disabled>
					Activate
				</button>
			</div>
		</div>
	</form>
</div>
