<div class="card flex flex-col">
	<div
		class="rounded-t-2xl bg-base-300 p-2"
		[ngClass]="{
			'rounded-b-2xl': !create && blastGates.length === 0,
		}"
	>
		<div class="flex items-center justify-between">
			<h2 class="p-2 text-lg font-bold">Blast Gates</h2>
			<div>
				<div class="flex gap-2">
					<button class="btn" (click)="openAllBlastGates()">
						Open All
					</button>
					<button class="btn" (click)="closeAllBlastGates()">
						Close All
					</button>
					<button
						class="btn"
						[ngClass]="{
							'btn-success': !create,
							'btn-error': create,
						}"
						(click)="toggleCreate()"
					>
						<span class="text-white">
							@if (create) {
								<svg
									class="size-4"
									xmlns="http://www.w3.org/2000/svg"
									viewBox="0 0 24 24"
									fill="currentColor"
								>
									<path
										fill-rule="evenodd"
										d="M5.47 5.47a.75.75 0 0 1 1.06 0L12 10.94l5.47-5.47a.75.75 0 1 1 1.06 1.06L13.06 12l5.47 5.47a.75.75 0 1 1-1.06 1.06L12 13.06l-5.47 5.47a.75.75 0 0 1-1.06-1.06L10.94 12 5.47 6.53a.75.75 0 0 1 0-1.06Z"
										clip-rule="evenodd"
									/>
								</svg>
							} @else {
								<svg
									class="size-4"
									xmlns="http://www.w3.org/2000/svg"
									viewBox="0 0 24 24"
									fill="currentColor"
								>
									<path
										fill-rule="evenodd"
										d="M12 3.75a.75.75 0 0 1 .75.75v6.75h6.75a.75.75 0 0 1 0 1.5h-6.75v6.75a.75.75 0 0 1-1.5 0v-6.75H4.5a.75.75 0 0 1 0-1.5h6.75V4.5a.75.75 0 0 1 .75-.75Z"
										clip-rule="evenodd"
									/>
								</svg>
							}
						</span>
					</button>
				</div>
			</div>
		</div>
	</div>
	<div
		class="card-body bg-base-200"
		[ngClass]="{
			'rounded-b-2xl': !create,
			hidden: blastGates.length === 0,
		}"
	>
		@for (blastGate of blastGates; track blastGate.id) {
			<app-blast-gate
				[blastGate]="blastGate"
				(updateBlastGate)="updateBlastGate($event)"
				(deleteBlastGate)="deleteBlastGate($event)"
				(activateBlastGate)="activateBlastGate($event)"
			></app-blast-gate>
		}
	</div>
	@if (create) {
		<form
			class="flex justify-between rounded-b-2xl bg-base-300 p-2"
			(ngSubmit)="createBlastGate()"
		>
			<div class="flex items-center gap-2">
				<input
					class="toggle"
					type="checkbox"
					name="is-open"
					[(ngModel)]="createModel.blastGateInput.isOpen"
				/>
				<div class="join">
					<input
						class="input join-item"
						type="text"
						name="name"
						[(ngModel)]="createModel.blastGateInput.name"
					/>
					<button class="btn join-item btn-success" type="submit">
						Create
					</button>
				</div>
			</div>
			<button class="btn btn-warning" type="button" disabled>
				Activate
			</button>
		</form>
	}
</div>
