<div class="card flex flex-col">
	<div class="rounded-t-2xl bg-base-300 p-2">
		<div class="flex items-center justify-between">
			<h2 class="p-2 text-lg font-bold">Blast Gates</h2>
			<div>
				<div class="flex gap-2">
					<button class="btn" (click)="openAllBlastGates()">
						Open All
					</button>
					<button class="btn" (click)="closeAllBlastGates()">
						Close All
					</button>
					<button
						class="btn"
						[ngClass]="{
							'btn-success': !create,
							'btn-error': create,
						}"
						(click)="toggleCreate()"
					>
						<span class="text-white">
							<i class="fas fa-plus" *ngIf="!create"></i>
							<i class="fas fa-ban" *ngIf="create"></i>
						</span>
					</button>
				</div>
			</div>
		</div>
	</div>
	<app-blast-gate
		class="card-body bg-base-200"
		[ngClass]="{
			'rounded-b-2xl': !create,
		}"
		*ngFor="let blastGate of blastGates; trackBy: trackByBlastGatesId"
		[blastGate]="blastGate"
		(updateBlastGate)="updateBlastGate($event)"
		(deleteBlastGate)="deleteBlastGate($event)"
		(activateBlastGate)="activateBlastGate($event)"
	></app-blast-gate>
	<form
		class="flex justify-between rounded-b-2xl bg-base-300 p-2"
		*ngIf="create"
		(ngSubmit)="createBlastGate()"
	>
		<div class="flex items-center gap-2">
			<input
				class="toggle"
				type="checkbox"
				name="is-open"
				[(ngModel)]="createModel.blastGateInput.isOpen"
			/>
			<div class="join">
				<input
					class="input join-item"
					type="text"
					name="name"
					[(ngModel)]="createModel.blastGateInput.name"
				/>
				<button class="btn btn-success join-item" type="submit">
					Create
				</button>
			</div>
		</div>
		<button class="btn btn-warning" type="button" disabled>Activate</button>
	</form>
</div>
