<section class="section">
	<div class="container">
		<div class="columns">
			<div class="column is-one-quarter">
				<h1 class="title has-text-centered">
					<a class="has-text-dark" [routerLink]="'/'">Home System</a>
				</h1>
				<aside class="menu is-spaced is-rounded has-background-white">
					<p class="menu-label">
						<span class="icon"><i class="fas fa-tools"></i></span>
						ShopVac
					</p>
					<ul class="menu-list">
						<li>
							<a
								[routerLink]="'/shopvac'"
								[routerLinkActive]="'is-active'"
								>Home</a
							>
						</li>
					</ul>
				</aside>
			</div>
			<div class="column is-three-quarters">
				<router-outlet></router-outlet>
			</div>
		</div>
	</div>
</section>
