<div class="flex items-center justify-between">
	<div class="flex items-center gap-2">
		<input
			id="blast-gate-{{ blastGate.id }}"
			class="toggle"
			type="checkbox"
			name="is-open"
			[ngModel]="blastGate.isOpen"
			(change)="handleToggleBlastGate(blastGate)"
		/>
		<label for="blast-gate-{{ blastGate.id }}">{{ blastGate.name }}</label>
	</div>
	<div class="flex gap-2">
		<button
			class="btn btn-warning"
			type="button"
			(click)="handleActivateBlastGate(blastGate)"
		>
			Activate
		</button>
		<div class="dropdown dropdown-end">
			<div class="btn" tabindex="0" role="button" tabindex="0">
				<i class="fas fa-ellipsis-v"></i>
			</div>
			<ul
				class="menu dropdown-content z-[1] w-52 rounded-box bg-base-100 p-2 shadow"
				tabindex="0"
				role="menu"
			>
				<li>
					<a
						href="javascript:void(0)"
						role="button"
						(click)="handleDeleteBlastGate(blastGate)"
					>
						<i class="fas fa-trash-alt"></i>
						Delete
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>
